body {
font-family:  "Open Sans","verdana", "arial", sans-serif;
/* text-align: center;*/
}

a {
text-decoration:none;
}

a {
color:#CD1076;
}


a:hover{
  color:#9842E3;
}

div#diagram{
    clear:both;
    float: left;
    margin-left: 5%;
}

div#diagram p{
    color: LightGray;
    font-size: .8em;
    text-align: center
}


div#leftbar {
    /* position:fixed; */
    float:left;
    margin-left:30%;
    width:100%;
    top:0px;
    min-height:80%;
    margin-left:auto; margin-right:0;
    overflow: hidden;
}

/*
footer {
  display: block;
}
*/

#footer {
  clear: both;
  /* position: fixed; */
  float:left;
  bottom: 0;
  margin-top: 3em;
  width: 100%;
  border-top: 5px solid LightGray;
  border-top-style: dashed; 
  padding-bottom: 1em;
}
#footer .links {
  clear: both;
  width: 14em;
  float: left;
  margin-left: 1em;
}
#footer .links.first {
  margin-left: 0;
}
#footer .links h2 {
  margin-top: 1em;
  font-size: 1em;
}
#footer .links .links-list {
  font-size: .8em;
  list-style-type: none;
}
/*
#footer .links a,
#footer .links a:visited,
#footer .links a:hover,
#footer .links a:active {
  color: #8d0e18;
}
*/
#footer .legal {
  clear: both;
  margin-top: 10em;
}

#footer .legal a {
  color: black;
}












